.contact {
  /* display: flex; */
  height: 65vh;
  padding: 4rem;
  background: #fcfcfc;
}

.contact--details--container {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
}

.contact--wrapper {
  padding: 1rem;
  color: #020323;
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}

.contact--wrapper h2{
  letter-spacing: .15em;
  font-size: 1.8em;
  font-weight: 300;
}

.contact--wrapper a {
  color: #020323;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 300;

}
