.history--container {
  padding: 0 4rem;
  background: #fcfcfc;
}

.history--wrapper {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.history--content {
  padding: 2rem;
}

.history--text {
  padding: 1rem;
  font-size: 1.6em;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 130%;
}

h1.history--text {
  font-size: 2em;
  font-weight: 400;
}

h2.history--text {
  padding-bottom: 0;
  font-size: 1.6em;
}

h3.history--text {
  padding-top: 0;
  padding-bottom: .5rem;
  font-size: 1.3em;
}

p.history--text {
  padding-top: 0;
  padding-bottom: 1.2rem;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .history--container {
    padding: 0 2rem;
  }

  .history--wrapper {
    margin-top: 20px;
  }

  h1.history--text {
    font-size: 1.5em;
    font-weight: 300;
  }
  p.history--text {
    font-size: .6em;
    font-weight: 300;
  }

  h2.history--text {
    font-size: .6em;
    font-weight: 400;
  }

  h3.history--text {
    font-size: .6em;
  }
}
