.projects {
  /* height: 70vh; */
  background: #fcfcfc;
}

.projects--container {
  display: flex;
  flex-flow: wrap;
  flex: 1 0 auto;
  justify-content: center;
  align-content: space-between;
  /* max-width: 1120px;
  width: 90%; */
  margin: 2rem auto;
}

.project--header {
  text-align: center;
  margin-bottom: 24px;
}

h3.project--header {
  font-weight: 400;
  color: #020323;
}

.project {
  max-width: 350px;
  position: relative;
  background: #fcfcfc;
  border-radius: 10px;
  margin: 1em;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  transition: all ease 200ms;
}

.project:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.project--image {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.project h2 {
  color: #020323;
  margin-top: -0.2em;
  margin-bottom: .5rem;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  transition: all ease-in 100ms;
}

.project p {
  color: #020323;
  font-size: 1.2em;
  font-weight: 300;
}

.project h5 {
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.project--body {
  min-height: 240px;
  padding: 1.5rem;
}

.project--tech {
  min-height: 16px;
  padding: 1.5rem;
}

.project--btns {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
  .projects--items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .projects--item {
    margin-bottom: 2rem;
  }
}
