.skills {
  background: #fcfcfc;
}

.skills--wrapper {
  display: flex;
  flex-flow: column;
  flex: 1;
  min-height: 67vh;
}

.skills--container {
  text-align: left;
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
}

.skills--items {
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.skills--items li {
  padding: .8rem ;
}

.skills--items li > i {
  padding: .5rem;
  color: #020323;
  font-size: 3rem;
}


@media only screen and (min-width: 1200px) {
  .skills--container {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .skills--items {
    display: flex;
  }

}

@media only screen and (max-width: 1024px) {
  .skills--items {
    flex-direction: column;
    align-content: left;
    text-align: left;
    margin-bottom: 2rem;
  }
}
