.header--container {
  background: #fcfcfc;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

h1.header--item {
  font-size: 4.2em;
  font-weight: 300;
  color: #020323;
}


@media screen and (max-width: 960px) {
  .header--container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h1.header--item {
    font-size: 2em;
  }
}
